

/* mobile device */

@media screen and (max-width:400px) {
              
    .nav-container{
        flex-direction: column;
    }
    .banner-section{
      margin-top: 20px;
    }
    .manu-container{
        flex-direction: column;
       
      }
      .manu-container a{
        margin-top: 20px;
      }

      .manu-container .follow-us-btn{
        margin-top: 40px;
      }

      .banner-container{
        flex-direction: column-reverse;
        
     }
     .banner-img{
       width: 100%;
       
   }
   .banner-text{
     width: 100%;
    text-align: center;
    
    
    
 }

 .banner-text-btn{
  margin-bottom: 20px;

 }
 
 .online-game-container{
  
  grid-template-columns: repeat(1,1fr);
 
  
 
  
 
}

.overlay{
  height: 85%;
}






.play-instantly-container{
  flex-direction: column;
}

.play-instantly-text h1 {
  text-align: center;
  font-size: 2rem;
}

.play-instantly-text p {
  text-align: center;
  font-size: 10px;
}

.play-instantly-text{
  width: 100%;
}
.play-instantly-picture{
  width:80%;
  margin-left: 20px;
}
.regtangle-66{
  width: 200px;
  position: relative;
  bottom: 100px;
  left:25px;
  border-radius: 8px;
 
 
}


.play-instantly-picture img{
  width: 100%;
}

.game-container{
  display: grid;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-content: center;
 }

 .footer-small-text{
  display: grid;
  grid-template-columns: repeat(3,1fr);

  
  
}
.terms{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.play{
  color: #FFF;
  padding-bottom: 40px;
  font-size: 10px;
}




    }


/* dextop device */

@media screen and (min-width:401px) and (max-width:760px) {
         
  .nav-container{
    flex-direction: column;
}
.nav-logo p{
  font-size: 3rem;
}
.nav-logo img{
  width: 100px;
  height: 30px;
 padding-top:60px;
} 

.manu-container{
  flex-direction: column;
  font-size: 1.8rem;
}

.manu-container a{
  margin-top: 20px;
}

.manu-container .follow-us-btn{
  margin-top: 40px;
  margin-bottom: 20px;
}

.banner-container{
       flex-direction: column-reverse;
    }
    .banner-img{
      width: 100%;
      
  }
  .banner-text{
    width: 100%;
   text-align: center;
   
    
}

.banner-text-btn{
  margin-bottom: 20px;

 }
.online-game-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
  
  gap: 20px;
}

.online-game-text h1{
  font-size: 2.5rem;
  font-weight: 700;
}
.online-game-text p{
  font-weight: 400;
  font-size: 1rem;
  color:#534C64 ;
  
}


.play-instantly-container{
  flex-direction: column;
}

.play-instantly-text{
  text-align: center;
  width: 100%;
}
.play-instantly-picture{
  width: 80%;
}

.play-instantly-picture img{
  width: 100%;
}

.regtangle-66{
  width: 300px;
  position: relative;
  bottom: 200px;
  left: 100px;
  border-radius: 8px;
 
 

}
.play-instantly-text h1 {
  text-align: center;
  
}

.play-instantly-text p {
  text-align: center;
  
}

.footer-small-text{
  display: grid;
  grid-template-columns: repeat(3,1fr);

  
  
}



}